makoto-home-automation/node-red/2RFOutlet-HomeAutomationSystem.json
[{"id":"ec5a22b2.c4e198","type":"tab","label":"Two RF Outlet Home Automation System","disabled":false,"info":"This prototype (#1) shows how to send three types of requests:\n\n- discovery - to discover the capabilities of the device\n- on - turns on the device\n- off - turns off the device"},{"id":"418d4a33.5f779c","type":"ibmiot in","z":"ec5a22b2.c4e198","authentication":"apiKey","apiKey":"dcbae9cb.f27d8","inputType":"evt","deviceId":"Controller-1","applicationId":"","deviceType":"HomeAutomationController","eventType":"request","commandType":"","format":"json","name":"App Request Listener","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":true,"allFormats":true,"qos":0,"x":152.77779006958008,"y":260.8888940811157,"wires":[["a473e0a2.5fcfa","9e9abfef.3cb4a","b02c7bac.1dc548"]]},{"id":"a473e0a2.5fcfa","type":"switch","z":"ec5a22b2.c4e198","name":"DeviceRouter","property":"payload.d.deviceRequest.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"Outlet-1","vt":"str"},{"t":"eq","v":"Outlet-2","vt":"str"}],"checkall":"true","outputs":2,"x":427.8889045715332,"y":273.9999990463257,"wires":[["76051073.828cf"],["d376029a.1796b"]]},{"id":"4293de90.3927b","type":"function","z":"ec5a22b2.c4e198","name":"DeviceInfo","func":"var discoveries = {\n    \"deviceResponse\" : \"discovery\",\n    \"devices\" : [\n        { \"deviceId\" : \"Outlet-1\",\n            description : \"433MHz RF Outlet\",\n            \"actions\" : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {                \n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        },\n        { \"deviceId\" : \"Outlet-2\",\n            description : \"433MHz RF Outlet\",\n            \"actions\" : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {\n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        },\n        {\n            \"deviceId\" : \"Alarm-1\",\n            description : \"433MHz DIY Home Alarm System\",\n            \"actions\" : [\n                {\n                    action : \"arm_stay\", description : \"Arms the system, motion detectors ignored\"\n                },\n                {\n                    action : \"arm_away\", description : \"Arms the system, motion sensors active\"\n                },\n                {\n                    action : \"off\", description : \"Turns the system off\"\n                },\n                {\n                    action : \"panic\", description : \"Triggers the alarm (panic button)\"\n                }\n            ]\n        }\n    ]\n};\nmsg.payload = discoveries;\nreturn msg;","outputs":1,"noerr":0,"x":864.5555419921875,"y":79.11112213134766,"wires":[["bd723f69.91d4d","f19fb6de.16c208"]]},{"id":"bd723f69.91d4d","type":"wiotp out","z":"ec5a22b2.c4e198","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"22b26b8c.9ebc34","deviceType":"","deviceId":"","event":"response","format":"json","qos":"","name":"","x":1073.3333015441895,"y":48.222222328186035,"wires":[]},{"id":"58b0f7c.9b5ab08","type":"inject","z":"ec5a22b2.c4e198","name":"System - discovery","topic":"","payload":"{\"deviceRequest\":{\"action\":\"discovery\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":162.2222442626953,"y":537.4444332122803,"wires":[["810031b9.690b"]]},{"id":"810031b9.690b","type":"wiotp out","z":"ec5a22b2.c4e198","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"22b26b8c.9ebc34","deviceType":"","deviceId":"","event":"request","format":"json","qos":"","name":"Requester","x":437.66667556762695,"y":637.7777862548828,"wires":[]},{"id":"d8424e8b.d5499","type":"inject","z":"ec5a22b2.c4e198","name":"Outlet-2 ON","topic":"","payload":"{ \"deviceRequest\" : {\"deviceId\":\"Outlet-2\",\"action\":\"on\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":151.22222900390625,"y":690.1111087799072,"wires":[["810031b9.690b"]]},{"id":"f19fb6de.16c208","type":"debug","z":"ec5a22b2.c4e198","name":"","active":true,"console":"false","complete":"false","x":1088.555564880371,"y":116.11111354827881,"wires":[]},{"id":"2a3ce696.ebc09a","type":"exec","z":"ec5a22b2.c4e198","command":"/usr/local/bin/codesend","addpay":false,"append":"1119683 0 170","useSpawn":"false","timer":"","oldrc":false,"name":"Outlet-2 ON","x":871.7777862548828,"y":317.8333158493042,"wires":[[],[],[]]},{"id":"f8347b1e.d92538","type":"exec","z":"ec5a22b2.c4e198","command":"/usr/local/bin/codesend","addpay":false,"append":"1119692 0 170","useSpawn":"false","timer":"","oldrc":false,"name":"Outlet-2 OFF","x":879.3333396911621,"y":394.99997997283936,"wires":[[],[],[]]},{"id":"cb32f83a.0f1d78","type":"inject","z":"ec5a22b2.c4e198","name":"Outlet-2 OFF","topic":"","payload":"{ \"deviceRequest\" : { \"deviceId\" : \"Outlet-2\" , \"action\" : \"off\" } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":149.22222900390625,"y":734.1111087799072,"wires":[["810031b9.690b"]]},{"id":"10593efc.1c6781","type":"exec","z":"ec5a22b2.c4e198","command":"/usr/local/bin/codesend","addpay":false,"append":"1119539 0 170","useSpawn":"false","timer":"","oldrc":false,"name":"Outlet-1 ON","x":863.4444618225098,"y":177.11110877990723,"wires":[[],[],[]]},{"id":"b02c7bac.1dc548","type":"switch","z":"ec5a22b2.c4e198","name":"DiscoveryRouter","property":"payload.d.deviceRequest.action","propertyType":"msg","rules":[{"t":"eq","v":"discovery","vt":"str"}],"checkall":"true","outputs":1,"x":642.3333053588867,"y":103.33333683013916,"wires":[["4293de90.3927b"]]},{"id":"76f2a306.67f42c","type":"exec","z":"ec5a22b2.c4e198","command":"/usr/local/bin/codesend","addpay":false,"append":"1119548 0 173","useSpawn":"false","timer":"","oldrc":false,"name":"Outlet-1 OFF","x":867.4444122314453,"y":257.7777671813965,"wires":[[],[],[]]},{"id":"76051073.828cf","type":"switch","z":"ec5a22b2.c4e198","name":"Outlet-1 Router","property":"payload.d.deviceRequest.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":667.3333740234375,"y":208.6666774749756,"wires":[["10593efc.1c6781"],["76f2a306.67f42c"]]},{"id":"d376029a.1796b","type":"switch","z":"ec5a22b2.c4e198","name":"Outlet-2 Router","property":"payload.d.deviceRequest.action","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":662.6666374206543,"y":348.88889026641846,"wires":[["2a3ce696.ebc09a"],["f8347b1e.d92538"]]},{"id":"9e9abfef.3cb4a","type":"debug","z":"ec5a22b2.c4e198","name":"","active":true,"console":"false","complete":"false","x":381.7777900695801,"y":85.99999141693115,"wires":[]},{"id":"a635c3d.696664","type":"inject","z":"ec5a22b2.c4e198","name":"Outlet-1 ON","topic":"","payload":"{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":146.22222900390625,"y":586.1111087799072,"wires":[["810031b9.690b"]]},{"id":"73db0e85.c16a9","type":"inject","z":"ec5a22b2.c4e198","name":"Outlet-1 OFF","topic":"","payload":"{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":148.22222900390625,"y":632.1111087799072,"wires":[["810031b9.690b"]]},{"id":"dcbae9cb.f27d8","type":"ibmiot","z":"","name":"apikey-controller","keepalive":"60","serverName":"5liweu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"22b26b8c.9ebc34","type":"wiotp-credentials","z":"","name":"","org":"5liweu","serverName":"","devType":"HomeAutomationController","devId":"Controller-1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
