makoto-home-automation/node-red/BasicFlow.json
[
    {
        "id": "27650a69.6006be",
        "type": "tab",
        "label": "Basic Flow",
        "disabled": false,
        "info": "This is the basic flow for the Home Automation system."
    },
    {
        "id": "bbd160f9.14c298",
        "type": "ibmiot in",
        "z": "27650a69.6006be",
        "authentication": "apiKey",
        "apiKey": "dcbae9cb.f27d8",
        "inputType": "evt",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": false,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 178.74999237060547,
        "y": 228.13891983032227,
        "wires": [
            [
                "270a3348.db1854",
                "a66e8f37.731868"
            ]
        ]
    },
    {
        "id": "c7d20f79.f73db",
        "type": "function",
        "z": "27650a69.6006be",
        "name": "DeviceInfo",
        "func": "var discoveries = {\n    \"deviceResponse\" : \"discovery\",\n    \"devices\" : [\n        { \"deviceId\" : \"DEVICE_ID_HERE\",\n            description : \"DEVICE_DESCRIPTION_HERE\",\n            \"actions\" : [\n                {\n                    action : \"ACTION_HERE\", description : \"ACTION_DESCRIPTION_HERE\"\n                }\n            ]\n        }\n    ]\n};\nmsg.payload = discoveries;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 685.7777805328369,
        "y": 224.3611478805542,
        "wires": [
            [
                "d08d1c45.6ee6f",
                "f2cad864.8611d8"
            ]
        ]
    },
    {
        "id": "d08d1c45.6ee6f",
        "type": "wiotp out",
        "z": "27650a69.6006be",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "response",
        "format": "json",
        "qos": "",
        "name": "IoT Controller",
        "x": 923.0555534362793,
        "y": 220.47224807739258,
        "wires": []
    },
    {
        "id": "f2cad864.8611d8",
        "type": "debug",
        "z": "27650a69.6006be",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 909.5277519226074,
        "y": 159.1111297607422,
        "wires": []
    },
    {
        "id": "a66e8f37.731868",
        "type": "switch",
        "z": "27650a69.6006be",
        "name": "DiscoveryRouter",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "discovery",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 461.0555191040039,
        "y": 226.0833616256714,
        "wires": [
            [
                "c7d20f79.f73db"
            ]
        ]
    },
    {
        "id": "270a3348.db1854",
        "type": "debug",
        "z": "27650a69.6006be",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 460.50000762939453,
        "y": 153.75000953674316,
        "wires": []
    },
    {
        "id": "dcbae9cb.f27d8",
        "type": "ibmiot",
        "z": "",
        "name": "apikey-controller",
        "keepalive": "60",
        "serverName": "5liweu.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "22b26b8c.9ebc34",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]