makoto-home-automation/node-red/Discovery.json
[
    {
        "id": "4d152de.c6353d4",
        "type": "tab",
        "label": "Discovery",
        "disabled": false,
        "info": "The flow for \"discovery\" mode, where the system broadcasts an event describing the system's full capabilities."
    },
    {
        "id": "44ecde1.964dd2",
        "type": "ibmiot in",
        "z": "4d152de.c6353d4",
        "authentication": "apiKey",
        "apiKey": "c765db14.ac2b58",
        "inputType": "evt",
        "ruleId": "",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": false,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 178.74999237060547,
        "y": 228.13891983032227,
        "wires": [
            [
                "8ddd726a.d9894",
                "fe0a46c2.6ac488"
            ]
        ]
    },
    {
        "id": "56c9b5e6.ec070c",
        "type": "function",
        "z": "4d152de.c6353d4",
        "name": "DeviceInfo",
        "func": "var discoveries = {\n    deviceResponse : \"discovery\",\n    devices : [\n        { \n            deviceId : \"Outlet-1\",\n            description : \"433MHz RF Outlet\",\n            actions : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {\n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        },\n        {\n            deviceId : \"Outlet-2\",\n            description : \"433MHz RF Outlet\",\n            actions : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {\n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        },\n        {\n            deviceId : \"Alarm-1\",\n            description : \"433MHz Home Alarm System\",\n            actions : [\n                {\n                    action : \"arm-away\",\n                    description : \"Arms the system in away mode (motion sensors active)\"\n                },\n                {\n                    action : \"arm-stay\",\n                    description : \"Arms the system in stay mode (motion sensors inactive)\"\n                },\n                {\n                    action : \"off\",\n                    description : \"Disarms the system\"\n                },\n                {\n                    action : \"panic\",\n                    description : \"Triggers the alarm siren (SOS)\"\n                }\n            ]\n        }\n    ]\n};\nmsg.payload = discoveries;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 685.7777805328369,
        "y": 224.3611478805542,
        "wires": [
            [
                "9033f87c.be3a18",
                "2d212461.e81a1c"
            ]
        ]
    },
    {
        "id": "9033f87c.be3a18",
        "type": "wiotp out",
        "z": "4d152de.c6353d4",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "response",
        "format": "json",
        "qos": "",
        "name": "IoT Controller",
        "x": 923.0555534362793,
        "y": 220.47224807739258,
        "wires": []
    },
    {
        "id": "2d212461.e81a1c",
        "type": "debug",
        "z": "4d152de.c6353d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 909.5277519226074,
        "y": 159.1111297607422,
        "wires": []
    },
    {
        "id": "fe0a46c2.6ac488",
        "type": "switch",
        "z": "4d152de.c6353d4",
        "name": "DiscoveryRouter",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "discovery",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 461.0555191040039,
        "y": 226.0833616256714,
        "wires": [
            [
                "56c9b5e6.ec070c"
            ]
        ]
    },
    {
        "id": "8ddd726a.d9894",
        "type": "debug",
        "z": "4d152de.c6353d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 460.50000762939453,
        "y": 153.75000953674316,
        "wires": []
    },
    {
        "id": "478ff39.03b790c",
        "type": "inject",
        "z": "4d152de.c6353d4",
        "name": "Discovery",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Controller-1\",\"action\":\"discovery\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 171.11111111111111,
        "y": 411.1111111111111,
        "wires": [
            [
                "3fcd99fe.bf5d66"
            ]
        ]
    },
    {
        "id": "3fcd99fe.bf5d66",
        "type": "wiotp out",
        "z": "4d152de.c6353d4",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 392.22222222222223,
        "y": 408.88888888888886,
        "wires": []
    },
    {
        "id": "c765db14.ac2b58",
        "type": "ibmiot",
        "z": "",
        "name": "My-API-Key",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "72c3da93.757714",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Requester",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]
