makoto-home-automation/node-red/DualOutlet-HomeAutomationSystem.json
[
    {
        "id": "ba1e234b.277a1",
        "type": "tab",
        "label": "Dual-RF-Outlet",
        "disabled": false,
        "info": "A dual RF Outlet system, and test injection nodes to test both ON and OFF for both RF outlets."
    },
    {
        "id": "c8bc85de.9545d8",
        "type": "ibmiot in",
        "z": "ba1e234b.277a1",
        "authentication": "apiKey",
        "apiKey": "c765db14.ac2b58",
        "inputType": "evt",
        "logicalInterfaceId": "",
        "ruleId": "",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 133.33333333333331,
        "y": 200,
        "wires": [
            [
                "eda2075d.6d2d28",
                "a73f58da.3c11d8"
            ]
        ]
    },
    {
        "id": "eda2075d.6d2d28",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Device Router",
        "property": "payload.d.deviceRequest.deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Outlet-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Outlet-2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 382.5,
        "y": 201.25,
        "wires": [
            [
                "a392176c.175418"
            ],
            [
                "bfd2afdc.bce1a"
            ]
        ]
    },
    {
        "id": "a392176c.175418",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 618.25,
        "y": 124,
        "wires": [
            [
                "5fee435a.4eb68c"
            ],
            [
                "1c54a4a3.8122cb"
            ]
        ]
    },
    {
        "id": "5fee435a.4eb68c",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119539 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 ON",
        "x": 825,
        "y": 43,
        "wires": [
            [
                "2309c464.6682fc"
            ],
            [
                "2309c464.6682fc"
            ],
            [
                "2309c464.6682fc"
            ]
        ]
    },
    {
        "id": "1c54a4a3.8122cb",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119548 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 OFF",
        "x": 837,
        "y": 106,
        "wires": [
            [
                "2309c464.6682fc"
            ],
            [
                "2309c464.6682fc"
            ],
            [
                "2309c464.6682fc"
            ]
        ]
    },
    {
        "id": "6d805bba.920b54",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 141.25,
        "y": 446,
        "wires": [
            [
                "b1d57066.a4e6f",
                "f5a8a6bd.acacf8"
            ]
        ]
    },
    {
        "id": "b1d57066.a4e6f",
        "type": "wiotp out",
        "z": "ba1e234b.277a1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 388,
        "y": 468,
        "wires": []
    },
    {
        "id": "a73f58da.3c11d8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Incoming Request",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 369,
        "y": 116,
        "wires": []
    },
    {
        "id": "f5a8a6bd.acacf8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 Debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 383,
        "y": 423,
        "wires": []
    },
    {
        "id": "b182a493.0eaae8",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 146,
        "y": 489,
        "wires": [
            [
                "b1d57066.a4e6f",
                "f5a8a6bd.acacf8"
            ]
        ]
    },
    {
        "id": "bfd2afdc.bce1a",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 609,
        "y": 286,
        "wires": [
            [
                "9dc5a2cc.9e068"
            ],
            [
                "cba64411.d3a4a8"
            ]
        ]
    },
    {
        "id": "9dc5a2cc.9e068",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119683 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 ON",
        "x": 831.75,
        "y": 248,
        "wires": [
            [
                "70a65c0c.89e0b4"
            ],
            [
                "70a65c0c.89e0b4"
            ],
            [
                "70a65c0c.89e0b4"
            ]
        ]
    },
    {
        "id": "cba64411.d3a4a8",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119692 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 OFF",
        "x": 836.75,
        "y": 306,
        "wires": [
            [
                "70a65c0c.89e0b4"
            ],
            [
                "70a65c0c.89e0b4"
            ],
            [
                "70a65c0c.89e0b4"
            ]
        ]
    },
    {
        "id": "ca8dfe92.9e762",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-2\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 136,
        "y": 559,
        "wires": [
            [
                "979e3652.4a9948",
                "1dd754e4.28fa9b"
            ]
        ]
    },
    {
        "id": "979e3652.4a9948",
        "type": "wiotp out",
        "z": "ba1e234b.277a1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 382.75,
        "y": 581,
        "wires": []
    },
    {
        "id": "1dd754e4.28fa9b",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2 Debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 377.75,
        "y": 536,
        "wires": []
    },
    {
        "id": "fa2c2323.26a7d",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-2\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140.75,
        "y": 602,
        "wires": [
            [
                "979e3652.4a9948",
                "1dd754e4.28fa9b"
            ]
        ]
    },
    {
        "id": "2309c464.6682fc",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1042,
        "y": 76,
        "wires": []
    },
    {
        "id": "70a65c0c.89e0b4",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1047,
        "y": 273,
        "wires": []
    },
    {
        "id": "c765db14.ac2b58",
        "type": "ibmiot",
        "z": "",
        "name": "My-API-Key",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "72c3da93.757714",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Requester",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]
