makoto-home-automation/node-red/DualOutlet-HomeAutomationSystem.json
[
    {
        "id": "52b4503f.de3c",
        "type": "tab",
        "label": "Dual-RF-Outlet",
        "disabled": false,
        "info": "A dual RF Outlet system, and test injection nodes to test both ON and OFF for both RF outlets."
    },
    {
        "id": "2413ec80.824584",
        "type": "ibmiot in",
        "z": "52b4503f.de3c",
        "authentication": "apiKey",
        "apiKey": "60a60aaa.b07084",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "ec90bf1f.22bdb",
                "b162f041.8adda"
            ]
        ]
    },
    {
        "id": "ec90bf1f.22bdb",
        "type": "switch",
        "z": "52b4503f.de3c",
        "name": "Device Router",
        "property": "payload.d.deviceRequest.deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Outlet-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Outlet-2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alarm-1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 380,
        "y": 119,
        "wires": [
            [
                "fa748b8c.807318"
            ],
            [
                "394cc4f5.d8cbac"
            ],
            []
        ]
    },
    {
        "id": "fa748b8c.807318",
        "type": "switch",
        "z": "52b4503f.de3c",
        "name": "Outlet-1-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "651faeec.00543"
            ],
            [
                "940b922.9f52e7"
            ]
        ]
    },
    {
        "id": "651faeec.00543",
        "type": "exec",
        "z": "52b4503f.de3c",
        "command": "/usr/local/bin/codesend 1119539 170",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 ON",
        "x": 810,
        "y": 40,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "940b922.9f52e7",
        "type": "exec",
        "z": "52b4503f.de3c",
        "command": "/usr/local/bin/codesend 1119548 170",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 OFF",
        "x": 810,
        "y": 89,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6688127.f2142ec",
        "type": "wiotp out",
        "z": "52b4503f.de3c",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "74877ec7.98292",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "5a00e047.878e9",
        "type": "inject",
        "z": "52b4503f.de3c",
        "name": "Outlet-1 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 274,
        "wires": [
            [
                "9c800e61.2df9a",
                "6688127.f2142ec"
            ]
        ]
    },
    {
        "id": "9c800e61.2df9a",
        "type": "debug",
        "z": "52b4503f.de3c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "b162f041.8adda",
        "type": "debug",
        "z": "52b4503f.de3c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "79747ddf.c99494",
        "type": "inject",
        "z": "52b4503f.de3c",
        "name": "Outlet-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 307,
        "wires": [
            [
                "9c800e61.2df9a",
                "6688127.f2142ec"
            ]
        ]
    },
    {
        "id": "394cc4f5.d8cbac",
        "type": "switch",
        "z": "52b4503f.de3c",
        "name": "Outlet-2-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 580,
        "y": 122,
        "wires": [
            [
                "f856b6a6.0e4a38"
            ],
            [
                "8d395f23.49e2c"
            ]
        ]
    },
    {
        "id": "f856b6a6.0e4a38",
        "type": "exec",
        "z": "52b4503f.de3c",
        "command": "/usr/local/bin/codesend 1119683 170",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 ON",
        "x": 810,
        "y": 142,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8d395f23.49e2c",
        "type": "exec",
        "z": "52b4503f.de3c",
        "command": "/usr/local/bin/codesend 1119692 170",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 OFF",
        "x": 810,
        "y": 195,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "84a36921.e9aac8",
        "type": "inject",
        "z": "52b4503f.de3c",
        "name": "Outlet-2 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-2\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 342,
        "wires": [
            [
                "6688127.f2142ec"
            ]
        ]
    },
    {
        "id": "470fef90.57e5b",
        "type": "inject",
        "z": "52b4503f.de3c",
        "name": "Outlet-2 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-2\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 381,
        "wires": [
            [
                "6688127.f2142ec"
            ]
        ]
    },
    {
        "id": "60a60aaa.b07084",
        "type": "ibmiot",
        "z": "",
        "name": "HomeAutomationControllerAPIKey",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "74877ec7.98292",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Controller-1",
        "org": "qsj4yy",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]