makoto-home-automation/node-red/DualOutlet-HomeAutomationSystem.json
[
    {
        "id": "95c77631.347698",
        "type": "tab",
        "label": "Dual RF Outlet",
        "disabled": false,
        "info": "This flow shows how to use the Watson IoT\nplatform to listen and respond to events\nsent by an application.\n\nThe flow communicates with two RF Outlets \nto control two household devices, such \nas a lamp that is plugged into the outlets.\n\nThe flow contains some tester injection nodes\nto simulate an application making a request\nto control the RF Outlets."
    },
    {
        "id": "5c73c17.7ee31c",
        "type": "ibmiot in",
        "z": "95c77631.347698",
        "authentication": "apiKey",
        "apiKey": "dcbae9cb.f27d8",
        "inputType": "evt",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": false,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 144,
        "y": 232.6666717529297,
        "wires": [
            [
                "5b1f8707.33ed98",
                "54476554.f65b6c",
                "7db2a660.1bf2e"
            ]
        ]
    },
    {
        "id": "5b1f8707.33ed98",
        "type": "switch",
        "z": "95c77631.347698",
        "name": "DeviceRouter",
        "property": "payload.d.deviceRequest.deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Outlet-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Outlet-2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 419.1111145019531,
        "y": 245.77777671813965,
        "wires": [
            [
                "de7fd80a.5d187"
            ],
            [
                "1e8da3cc.98e344"
            ]
        ]
    },
    {
        "id": "8875a325.25786",
        "type": "function",
        "z": "95c77631.347698",
        "name": "DeviceInfo",
        "func": "var discoveries = {\n    \"deviceResponse\" : \"discovery\",\n    \"devices\" : [\n        { \"deviceId\" : \"Outlet-1\",\n            description : \"433MHz RF Outlet\",\n            \"actions\" : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {                \n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        },\n        { \"deviceId\" : \"Outlet-2\",\n            description : \"433MHz RF Outlet\",\n            \"actions\" : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {\n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        }\n    ]\n};\nmsg.payload = discoveries;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 855.7777519226074,
        "y": 50.88889980316162,
        "wires": [
            [
                "303ed048.537a48",
                "e0d42c6d.e0fc48"
            ]
        ]
    },
    {
        "id": "303ed048.537a48",
        "type": "wiotp out",
        "z": "95c77631.347698",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "response",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 1064.5555114746094,
        "y": 20,
        "wires": []
    },
    {
        "id": "fca98b55.a66b8",
        "type": "inject",
        "z": "95c77631.347698",
        "name": "System - discovery",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"action\":\"discovery\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 153.44445419311523,
        "y": 509.22221088409424,
        "wires": [
            [
                "4d36ea5b.dadd24"
            ]
        ]
    },
    {
        "id": "4b3475c2.03e5b4",
        "type": "wiotp out",
        "z": "95c77631.347698",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 433.8888931274414,
        "y": 578.3055515289307,
        "wires": []
    },
    {
        "id": "8fc3928.578907",
        "type": "inject",
        "z": "95c77631.347698",
        "name": "Outlet-2 ON",
        "topic": "",
        "payload": "{ \"deviceRequest\" : {\"deviceId\":\"Outlet-2\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 142.44443893432617,
        "y": 661.8888864517212,
        "wires": [
            [
                "75135501.80777c"
            ]
        ]
    },
    {
        "id": "e0d42c6d.e0fc48",
        "type": "debug",
        "z": "95c77631.347698",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1079.777774810791,
        "y": 87.88889122009277,
        "wires": []
    },
    {
        "id": "aca7ab6d.63f9e8",
        "type": "exec",
        "z": "95c77631.347698",
        "command": "/usr/local/bin/codesend",
        "addpay": false,
        "append": "1119683 170",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 ON",
        "x": 862.9999961853027,
        "y": 289.61109352111816,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b189985d.3cb348",
        "type": "exec",
        "z": "95c77631.347698",
        "command": "/usr/local/bin/codesend",
        "addpay": false,
        "append": "1119692 170",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 OFF",
        "x": 870.555549621582,
        "y": 366.7777576446533,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ab4b5df4.37048",
        "type": "inject",
        "z": "95c77631.347698",
        "name": "Outlet-2 OFF",
        "topic": "",
        "payload": "{ \"deviceRequest\" : { \"deviceId\" : \"Outlet-2\" , \"action\" : \"off\" } }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140.44443893432617,
        "y": 705.8888864517212,
        "wires": [
            [
                "75135501.80777c"
            ]
        ]
    },
    {
        "id": "2c2415bd.f37fe2",
        "type": "exec",
        "z": "95c77631.347698",
        "command": "/usr/local/bin/codesend",
        "addpay": false,
        "append": "1119539 170",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 ON",
        "x": 854.6666717529297,
        "y": 148.8888864517212,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7db2a660.1bf2e",
        "type": "switch",
        "z": "95c77631.347698",
        "name": "DiscoveryRouter",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "discovery",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 633.5555152893066,
        "y": 75.11111450195312,
        "wires": [
            [
                "8875a325.25786"
            ]
        ]
    },
    {
        "id": "7d72f01e.ad4298",
        "type": "exec",
        "z": "95c77631.347698",
        "command": "/usr/local/bin/codesend",
        "addpay": false,
        "append": "1119548 173",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 OFF",
        "x": 858.6666221618652,
        "y": 229.55554485321045,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "de7fd80a.5d187",
        "type": "switch",
        "z": "95c77631.347698",
        "name": "Outlet-1 Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 658.5555839538574,
        "y": 180.44445514678955,
        "wires": [
            [
                "2c2415bd.f37fe2"
            ],
            [
                "7d72f01e.ad4298"
            ]
        ]
    },
    {
        "id": "1e8da3cc.98e344",
        "type": "switch",
        "z": "95c77631.347698",
        "name": "Outlet-2 Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 653.8888473510742,
        "y": 320.6666679382324,
        "wires": [
            [
                "aca7ab6d.63f9e8"
            ],
            [
                "b189985d.3cb348"
            ]
        ]
    },
    {
        "id": "54476554.f65b6c",
        "type": "debug",
        "z": "95c77631.347698",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 373,
        "y": 57.77776908874512,
        "wires": []
    },
    {
        "id": "a1a0cd8.256563",
        "type": "inject",
        "z": "95c77631.347698",
        "name": "Outlet-1 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 137.44443893432617,
        "y": 557.8888864517212,
        "wires": [
            [
                "4b3475c2.03e5b4"
            ]
        ]
    },
    {
        "id": "6b246a82.ec3304",
        "type": "inject",
        "z": "95c77631.347698",
        "name": "Outlet-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 139.44443893432617,
        "y": 603.8888864517212,
        "wires": [
            [
                "4b3475c2.03e5b4"
            ]
        ]
    },
    {
        "id": "4d36ea5b.dadd24",
        "type": "wiotp out",
        "z": "95c77631.347698",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 432.5,
        "y": 508.75,
        "wires": []
    },
    {
        "id": "75135501.80777c",
        "type": "wiotp out",
        "z": "95c77631.347698",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 435.00000762939453,
        "y": 682.5000100135803,
        "wires": []
    },
    {
        "id": "dcbae9cb.f27d8",
        "type": "ibmiot",
        "z": "",
        "name": "apikey-controller",
        "keepalive": "60",
        "serverName": "5liweu.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "22b26b8c.9ebc34",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "54af0bd3.adbd04",
        "usetls": false
    },
    {
        "id": "54af0bd3.adbd04",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    }
]