makoto-home-automation/node-red/Full-HomeAutomationSystem.json
[
    {
        "id": "ba1e234b.277a1",
        "type": "tab",
        "label": "Full-Home-Automation",
        "disabled": false,
        "info": "A full home automation system with 2 RF Outlets and Home Alarm, and test injection nodes to test all functions."
    },
    {
        "id": "c8bc85de.9545d8",
        "type": "ibmiot in",
        "z": "ba1e234b.277a1",
        "authentication": "apiKey",
        "apiKey": "c765db14.ac2b58",
        "inputType": "evt",
        "logicalInterfaceId": "",
        "ruleId": "",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 133.33333333333331,
        "y": 200,
        "wires": [
            [
                "eda2075d.6d2d28",
                "a73f58da.3c11d8"
            ]
        ]
    },
    {
        "id": "eda2075d.6d2d28",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Device Router",
        "property": "payload.d.deviceRequest.deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Outlet-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Outlet-2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alarm-1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 382.5,
        "y": 201.25,
        "wires": [
            [
                "a392176c.175418"
            ],
            [
                "bfd2afdc.bce1a"
            ],
            [
                "d82b4911.31f418"
            ]
        ]
    },
    {
        "id": "a392176c.175418",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 618.25,
        "y": 124,
        "wires": [
            [
                "5fee435a.4eb68c"
            ],
            [
                "1c54a4a3.8122cb"
            ]
        ]
    },
    {
        "id": "5fee435a.4eb68c",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119539 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 ON",
        "x": 825,
        "y": 43,
        "wires": [
            [
                "2309c464.6682fc"
            ],
            [
                "2309c464.6682fc"
            ],
            [
                "2309c464.6682fc"
            ]
        ]
    },
    {
        "id": "1c54a4a3.8122cb",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119548 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 OFF",
        "x": 837,
        "y": 106,
        "wires": [
            [
                "ec1046ea.7307b8"
            ],
            [
                "ec1046ea.7307b8"
            ],
            [
                "ec1046ea.7307b8"
            ]
        ]
    },
    {
        "id": "6d805bba.920b54",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 135.25,
        "y": 484,
        "wires": [
            [
                "b1d57066.a4e6f",
                "f5a8a6bd.acacf8"
            ]
        ]
    },
    {
        "id": "b1d57066.a4e6f",
        "type": "wiotp out",
        "z": "ba1e234b.277a1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 382,
        "y": 506,
        "wires": []
    },
    {
        "id": "a73f58da.3c11d8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Incoming Request",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 369,
        "y": 116,
        "wires": []
    },
    {
        "id": "f5a8a6bd.acacf8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 Debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 377,
        "y": 461,
        "wires": []
    },
    {
        "id": "b182a493.0eaae8",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 527,
        "wires": [
            [
                "b1d57066.a4e6f",
                "f5a8a6bd.acacf8"
            ]
        ]
    },
    {
        "id": "bfd2afdc.bce1a",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 613,
        "y": 231,
        "wires": [
            [
                "9dc5a2cc.9e068"
            ],
            [
                "cba64411.d3a4a8"
            ]
        ]
    },
    {
        "id": "9dc5a2cc.9e068",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119683 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 ON",
        "x": 831.75,
        "y": 204,
        "wires": [
            [
                "70a65c0c.89e0b4"
            ],
            [
                "70a65c0c.89e0b4"
            ],
            [
                "70a65c0c.89e0b4"
            ]
        ]
    },
    {
        "id": "cba64411.d3a4a8",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119692 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-2 OFF",
        "x": 836.75,
        "y": 262,
        "wires": [
            [
                "b13a5b69.7c56d8"
            ],
            [
                "b13a5b69.7c56d8"
            ],
            [
                "b13a5b69.7c56d8"
            ]
        ]
    },
    {
        "id": "ca8dfe92.9e762",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-2\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 597,
        "wires": [
            [
                "979e3652.4a9948",
                "1dd754e4.28fa9b"
            ]
        ]
    },
    {
        "id": "979e3652.4a9948",
        "type": "wiotp out",
        "z": "ba1e234b.277a1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 376.75,
        "y": 619,
        "wires": []
    },
    {
        "id": "1dd754e4.28fa9b",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2 Debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 371.75,
        "y": 574,
        "wires": []
    },
    {
        "id": "fa2c2323.26a7d",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-2 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-2\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 134.75,
        "y": 640,
        "wires": [
            [
                "979e3652.4a9948",
                "1dd754e4.28fa9b"
            ]
        ]
    },
    {
        "id": "2309c464.6682fc",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1057.5555953979492,
        "y": 43.7777795791626,
        "wires": []
    },
    {
        "id": "70a65c0c.89e0b4",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1046.5555419921875,
        "y": 202.3333282470703,
        "wires": []
    },
    {
        "id": "d82b4911.31f418",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Alarm-1-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arm-away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arm-stay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "panic",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 624,
        "y": 438,
        "wires": [
            [
                "71cc4c7.b5a81b4"
            ],
            [
                "5edd036e.36128c"
            ],
            [
                "65464fd7.6b928"
            ],
            [
                "b6e6020e.ab203"
            ]
        ]
    },
    {
        "id": "71cc4c7.b5a81b4",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 12935172 432",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Alarm-1 Arm Away",
        "x": 851,
        "y": 339,
        "wires": [
            [
                "c2909253.25e71"
            ],
            [
                "c2909253.25e71"
            ],
            [
                "c2909253.25e71"
            ]
        ]
    },
    {
        "id": "5edd036e.36128c",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 12935170 432",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Alarm-1 Arm Stay",
        "x": 853,
        "y": 399,
        "wires": [
            [
                "14a41dbb.1367b2"
            ],
            [
                "14a41dbb.1367b2"
            ],
            [
                "14a41dbb.1367b2"
            ]
        ]
    },
    {
        "id": "65464fd7.6b928",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 12935169 432",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Alarm-1 Off",
        "x": 833,
        "y": 459,
        "wires": [
            [
                "172e0291.a287ed"
            ],
            [
                "172e0291.a287ed"
            ],
            [
                "172e0291.a287ed"
            ]
        ]
    },
    {
        "id": "b6e6020e.ab203",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 12935176 432",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Alarm-1 Panic",
        "x": 846,
        "y": 520,
        "wires": [
            [
                "b18e6d97.c5b9"
            ],
            [
                "b18e6d97.c5b9"
            ],
            [
                "b18e6d97.c5b9"
            ]
        ]
    },
    {
        "id": "c2909253.25e71",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1088.8889198303223,
        "y": 334.6666498184204,
        "wires": []
    },
    {
        "id": "14a41dbb.1367b2",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1085.5555419921875,
        "y": 399.9999694824219,
        "wires": []
    },
    {
        "id": "172e0291.a287ed",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1084.4444580078125,
        "y": 457.77777099609375,
        "wires": []
    },
    {
        "id": "b18e6d97.c5b9",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1088.8887939453125,
        "y": 522.2222290039062,
        "wires": []
    },
    {
        "id": "ec1046ea.7307b8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1053.333251953125,
        "y": 101.1111068725586,
        "wires": []
    },
    {
        "id": "b13a5b69.7c56d8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1061.111083984375,
        "y": 260,
        "wires": []
    },
    {
        "id": "56e48479.cb368c",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Alarm-1 Arm Away",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Alarm-1\",\"action\":\"arm-away\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 156.66665649414062,
        "y": 718.8888549804688,
        "wires": [
            [
                "57473651.c75558",
                "faea626.a24eca"
            ]
        ]
    },
    {
        "id": "57473651.c75558",
        "type": "wiotp out",
        "z": "ba1e234b.277a1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 450.0833282470703,
        "y": 799.7777681350708,
        "wires": []
    },
    {
        "id": "faea626.a24eca",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "Alarm-1 Debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 443.9721984863281,
        "y": 754.7777729034424,
        "wires": []
    },
    {
        "id": "aae3d25e.19d4f",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Alarm-1 Arm Stay",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Alarm-1\",\"action\":\"arm-stay\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 161.41665649414062,
        "y": 761.8888549804688,
        "wires": [
            [
                "57473651.c75558",
                "faea626.a24eca"
            ]
        ]
    },
    {
        "id": "40d8c966.d8f258",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Alarm-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Alarm-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 147.77777099609375,
        "y": 808.8888397216797,
        "wires": [
            [
                "faea626.a24eca",
                "57473651.c75558"
            ]
        ]
    },
    {
        "id": "633082e5.3300ac",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Alarm-1 Panic",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Alarm-1\",\"action\":\"panic\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 143.3333282470703,
        "y": 856.6666259765625,
        "wires": [
            [
                "faea626.a24eca",
                "57473651.c75558"
            ]
        ]
    },
    {
        "id": "c765db14.ac2b58",
        "type": "ibmiot",
        "z": "",
        "name": "My-API-Key",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "72c3da93.757714",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Requester",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]
