makoto-home-automation/node-red/SingleRFOutlet-HomeAutomationSystem.json
[
    {
        "id": "ec5a22b2.c4e198",
        "type": "tab",
        "label": "Single RF Outlet Home Automation System",
        "disabled": false,
        "info": "This flow shows how to use the Watson IoT\nplatform to listen and respond to events\nsent by an application.\n\nThe flow uses a single RF Outlets \nto control a household device, such \nas a lamp that is plugged into the outlet.\n\nThe flow contains some tester injection nodes\nto simulate an application making a request\nto control the RF Outlet."
    },
    {
        "id": "418d4a33.5f779c",
        "type": "ibmiot in",
        "z": "ec5a22b2.c4e198",
        "authentication": "apiKey",
        "apiKey": "dcbae9cb.f27d8",
        "inputType": "evt",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": false,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 152.77779388427734,
        "y": 205.8889045715332,
        "wires": [
            [
                "a473e0a2.5fcfa",
                "9e9abfef.3cb4a",
                "b02c7bac.1dc548"
            ]
        ]
    },
    {
        "id": "a473e0a2.5fcfa",
        "type": "switch",
        "z": "ec5a22b2.c4e198",
        "name": "DeviceRouter",
        "property": "payload.d.deviceRequest.deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Outlet-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Outlet-2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 399.13892364501953,
        "y": 338.00000381469727,
        "wires": [
            [
                "76051073.828cf"
            ],
            []
        ]
    },
    {
        "id": "4293de90.3927b",
        "type": "function",
        "z": "ec5a22b2.c4e198",
        "name": "DeviceInfo",
        "func": "var discoveries = {\n    \"deviceResponse\" : \"discovery\",\n    \"devices\" : [\n        { \"deviceId\" : \"Outlet-1\",\n            description : \"433MHz RF Outlet\",\n            \"actions\" : [\n                {\n                    action : \"on\", description : \"Turns the outlet on\"\n                },\n                {                \n                    action : \"off\", description : \"Turns the outlet off\"\n                }\n            ]\n        }\n    ]\n};\nmsg.payload = discoveries;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 673.555549621582,
        "y": 199.61113262176514,
        "wires": [
            [
                "bd723f69.91d4d",
                "f19fb6de.16c208"
            ]
        ]
    },
    {
        "id": "bd723f69.91d4d",
        "type": "wiotp out",
        "z": "ec5a22b2.c4e198",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "response",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 882.0833263397217,
        "y": 196.97223091125488,
        "wires": []
    },
    {
        "id": "58b0f7c.9b5ab08",
        "type": "inject",
        "z": "ec5a22b2.c4e198",
        "name": "System - discovery",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"action\":\"discovery\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 171.2222442626953,
        "y": 586.4444580078125,
        "wires": [
            [
                "810031b9.690b"
            ]
        ]
    },
    {
        "id": "810031b9.690b",
        "type": "wiotp out",
        "z": "ec5a22b2.c4e198",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "22b26b8c.9ebc34",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 437.66667556762695,
        "y": 637.7777862548828,
        "wires": []
    },
    {
        "id": "f19fb6de.16c208",
        "type": "debug",
        "z": "ec5a22b2.c4e198",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 883.5555534362793,
        "y": 136.86111450195312,
        "wires": []
    },
    {
        "id": "10593efc.1c6781",
        "type": "exec",
        "z": "ec5a22b2.c4e198",
        "command": "/usr/local/bin/codesend",
        "addpay": false,
        "append": "1119539 170",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 ON",
        "x": 849.694465637207,
        "y": 282.1111183166504,
        "wires": [
            [
                "60e8bcaf.16d264"
            ],
            [
                "60e8bcaf.16d264"
            ],
            [
                "60e8bcaf.16d264"
            ]
        ]
    },
    {
        "id": "b02c7bac.1dc548",
        "type": "switch",
        "z": "ec5a22b2.c4e198",
        "name": "DiscoveryRouter",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "discovery",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 446.3333206176758,
        "y": 202.58334732055664,
        "wires": [
            [
                "4293de90.3927b"
            ]
        ]
    },
    {
        "id": "76f2a306.67f42c",
        "type": "exec",
        "z": "ec5a22b2.c4e198",
        "command": "/usr/local/bin/codesend",
        "addpay": false,
        "append": "1119548 173",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 OFF",
        "x": 850.6944046020508,
        "y": 361.777774810791,
        "wires": [
            [
                "e727f8c8.8a4fb8"
            ],
            [
                "e727f8c8.8a4fb8"
            ],
            [
                "e727f8c8.8a4fb8"
            ]
        ]
    },
    {
        "id": "76051073.828cf",
        "type": "switch",
        "z": "ec5a22b2.c4e198",
        "name": "Outlet-1 Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 634.583381652832,
        "y": 322.66667556762695,
        "wires": [
            [
                "10593efc.1c6781"
            ],
            [
                "76f2a306.67f42c"
            ]
        ]
    },
    {
        "id": "9e9abfef.3cb4a",
        "type": "debug",
        "z": "ec5a22b2.c4e198",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 434.5278091430664,
        "y": 131.4999942779541,
        "wires": []
    },
    {
        "id": "a635c3d.696664",
        "type": "inject",
        "z": "ec5a22b2.c4e198",
        "name": "Outlet-1 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 148.22222900390625,
        "y": 637.111083984375,
        "wires": [
            [
                "810031b9.690b"
            ]
        ]
    },
    {
        "id": "73db0e85.c16a9",
        "type": "inject",
        "z": "ec5a22b2.c4e198",
        "name": "Outlet-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 152.22222900390625,
        "y": 692.111083984375,
        "wires": [
            [
                "810031b9.690b"
            ]
        ]
    },
    {
        "id": "9cd54e34.a59868",
        "type": "comment",
        "z": "ec5a22b2.c4e198",
        "name": "Test Nodes",
        "info": "These nodes are used to test the application\ncode in the Flow.",
        "x": 135,
        "y": 514,
        "wires": []
    },
    {
        "id": "60e8bcaf.16d264",
        "type": "debug",
        "z": "ec5a22b2.c4e198",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1046.2500076293945,
        "y": 285.00000381469727,
        "wires": []
    },
    {
        "id": "e727f8c8.8a4fb8",
        "type": "debug",
        "z": "ec5a22b2.c4e198",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1046.2500076293945,
        "y": 354.00000381469727,
        "wires": []
    },
    {
        "id": "dcbae9cb.f27d8",
        "type": "ibmiot",
        "z": "",
        "name": "apikey-controller",
        "keepalive": "60",
        "serverName": "5liweu.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "22b26b8c.9ebc34",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "54af0bd3.adbd04",
        "usetls": false
    },
    {
        "id": "54af0bd3.adbd04",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    }
]