makoto-home-automation/node-red/SingleRFOutlet-HomeAutomationSystem.json
[
    {
        "id": "ba1e234b.277a1",
        "type": "tab",
        "label": "Single-RF-Outlet",
        "disabled": false,
        "info": "A single RF Outlet, and test injection nodes to test both ON and OFF."
    },
    {
        "id": "c8bc85de.9545d8",
        "type": "ibmiot in",
        "z": "ba1e234b.277a1",
        "authentication": "apiKey",
        "apiKey": "c765db14.ac2b58",
        "inputType": "evt",
        "logicalInterfaceId": "",
        "ruleId": "",
        "deviceId": "Controller-1",
        "applicationId": "",
        "deviceType": "HomeAutomationController",
        "eventType": "request",
        "commandType": "",
        "format": "json",
        "name": "App Request Listener",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 133.33333333333331,
        "y": 200,
        "wires": [
            [
                "eda2075d.6d2d28",
                "a73f58da.3c11d8"
            ]
        ]
    },
    {
        "id": "eda2075d.6d2d28",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Device Router",
        "property": "payload.d.deviceRequest.deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Outlet-1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 382.5,
        "y": 201.25,
        "wires": [
            [
                "a392176c.175418"
            ]
        ]
    },
    {
        "id": "a392176c.175418",
        "type": "switch",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1-Router",
        "property": "payload.d.deviceRequest.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 616.25,
        "y": 200,
        "wires": [
            [
                "5fee435a.4eb68c"
            ],
            [
                "1c54a4a3.8122cb"
            ]
        ]
    },
    {
        "id": "5fee435a.4eb68c",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119539 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 ON",
        "x": 830,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1c54a4a3.8122cb",
        "type": "exec",
        "z": "ba1e234b.277a1",
        "command": "/usr/local/bin/codesend 1119548 170",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Outlet-1 OFF",
        "x": 830,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6d805bba.920b54",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 ON",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"on\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 106.25,
        "y": 510,
        "wires": [
            [
                "b1d57066.a4e6f",
                "f5a8a6bd.acacf8"
            ]
        ]
    },
    {
        "id": "b1d57066.a4e6f",
        "type": "wiotp out",
        "z": "ba1e234b.277a1",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "72c3da93.757714",
        "deviceType": "",
        "deviceId": "",
        "event": "request",
        "format": "json",
        "qos": "",
        "name": "Requester",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "a73f58da.3c11d8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "f5a8a6bd.acacf8",
        "type": "debug",
        "z": "ba1e234b.277a1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "b182a493.0eaae8",
        "type": "inject",
        "z": "ba1e234b.277a1",
        "name": "Outlet-1 OFF",
        "topic": "",
        "payload": "{\"deviceRequest\":{\"deviceId\":\"Outlet-1\",\"action\":\"off\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "b1d57066.a4e6f"
            ]
        ]
    },
    {
        "id": "c765db14.ac2b58",
        "type": "ibmiot",
        "z": "",
        "name": "My-API-Key",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "72c3da93.757714",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Requester",
        "org": "5liweu",
        "serverName": "",
        "devType": "HomeAutomationController",
        "devId": "Controller-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]
